/* .slider {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 50vh;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: rgb(0, 0, 0);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1960px;
}
.slider::before, .slider::after {
 
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 60s linear infinite;
          animation: scroll 60s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 40px;
  width: 250px;
} */


.maindiscbody{
  background-color: black;
}

.navdisc{
  padding-left: 250px;
  background: rgb(0,0,0);
  float: left;
  
}

 .span1 {
  align-items: center;
  /* background-color: black; */
  background: rgb(0,0,0);
  color: rgb(224, 247, 247);
  display: inline-block;
  position: relative;
  animation: span 16s linear infinite;
}



@keyframes span {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-150%, 0);
  }
}